<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit", edit_comment_path(@comment), class:'btn btn-warning btn-sm' %> |
  <%= link_to "Back", comments_path, class:'btn btn-primary btn-sm' %><br/><br/>

  <%= button_to "Delete", @comment, method: :delete, class:'btn btn-danger btn-sm' %>
</div>
