<div class="wrapper">
  <div class="sidebar">

       <div class="profile">
                <% if user_signed_in? %>
                  <%= image_tag(current_user.image) unless current_user.image.blank? %>
                <% end %>
                </div>

    <div class="container">
      <% if user_signed_in? %>
      <p class="text-align-center">
        Welcome <%= current_user.username %> !
      </p>
      <p class="text-align-center">
        <%= current_user.role %>
      </p>
      <p>
       
        
      </p>
      
      <% end %>  
  </div>
            
            
              
              <ul>
                <li>
                <a href="/posts"><i class=" fa fa-fw fa-home"></i>Posts</a>
                </li>

                 <li>
                <a href="/comments"><i class=" fa fa-fw fa-home"></i>Comments</a>
                </li>

                 <li>
                <a href="/categories"><i class=" fa fa-fw fa-home"></i>Categories</a>
                </li>

              

		          
                <li class='sub-menu'>
                    <a href="#personal"><i class=" fa fa-fw fa-heart"></i>Personal<div class='fa fa-caret-down right'></div></a>
                </li>

                <li>
			              <ul>
				              <li><i class=" fa fa-fw fa-car"></i><a href='/posts'>xxx</a></li>
				              <li><i class=" fa fa-fw fa-bars"></i><a href='/comments'>xxx</a></li>
				              <li><i class=" fa fa-fw fa-train"></i><a href='/categories'>xxx</a></li>
			              </ul>
                </li>


              </ul>

                <div class="container text-align-right">
  <% if user_signed_in? %>
     <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: "delete", turbo_confirm: "Are you sure?"}, class:'btn btn-outline-danger btn-sm' %> | 
       <%= link_to "Edit Profile", edit_user_registration_path, class:'btn btn-outline-warning btn-sm' %> 
       <% else %>
      <%= link_to "Sign in", new_user_session_path, class:'btn btn-outline-success btn-sm' %> | 
    <%= link_to "Sign up", new_user_registration_path, class:'btn btn-outline-warning btn-sm' %>
  <% end %>
  </div>

        </div>   

</div>
     
    